@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Berkshire+Swash&family=Quicksand:wght@300;400&display=swap');

@media only screen and (max-width: 600px) {
  body {
    padding: 0;
  }

  .header {
    display: none;
  }

  #content {
    height: 100vh;
  }
}

* {
  font-family: Assistant, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  /* DARK MODE */
  /* color:rgba( 255, 255, 255, 0.6 ); */
  /* LIGHT MODE */
  /* color: #000; */
}

body {
  padding: 0 2.5%;
  /* DARK MODE */
  background: rgb(32,33,36);
  /* LIGHT MODE */
  background: rgb(235, 230, 223);
  /* KosmoTime CSS */
  background: #f6f7f9;
}

dd {
  color: #aaa;
  font-size: 0.85rem;
  display: inline-block;
  margin: 0px 20px;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}

h3 {
  padding: 0.5em;
  font-size: 1rem;
  font-weight: 500;
  color: #3d3267;
}

li {
  list-style-type: none;
  padding-left: 2em;
}

.active {
  background-color: rgba(0,0,0,0.15);
}

.calendar {
  background-color: #fff;
  width: 17.5vw;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
}

.header {
  padding: 0 0.5%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.main {
  flex: 2;
  margin: 0 5vw;
}

.main > li {
  font-weight: 600;
  border: 1px #eee solid;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  margin: 2px 0;
}

.main > li:hover {
    background-color: #fdfdfd;
}

.material-icons-outlined {
  margin-right: 10px;
  font-size: 18px;
}

.material-icons {
  font-size: 18px;
}

.project-title {
  cursor: pointer;
  /* background-color: rgba(0,0,0,0.1); */
}

#content {
  box-shadow: 0 4px 8px 0 rgba( 0, 0, 0, 0.4 );
  backdrop-filter: blur( 15px );
  -webkit-backdrop-filter: blur( 15px );

  /* DARK MODE */
  background: rgba( 48, 49, 52, 0.6 );
  /* LIGHT MODE */
  background: rgba( 250, 250, 250, 0.8);

  /* KosmoTime CSS */
  background-color: #f7f8fa;
  
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-radius: 10px;
}

#content > * {
  height: 85vh;
}

#down-arrow {
  margin-left: auto;
}

#profile {
  color: coral;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#projects {
  display: flex;
  align-items: center;
}

#projects:last-child {
  margin-left: auto;
}

#sidebar {
  /* border-right: 1px solid rgb(35,35,35); */
  width: 17.5vw;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  min-height: 100%;
}

#tags {
  display: flex;
  align-items: center;
}

#tags:last-child {
  margin-left: auto;
}

#tags > span {
  transform: rotate(90deg);
}

#task-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  font-weight: 500;
  color: #aaa;
  cursor: pointer;
  background-color: #f7f8fa;
  border: 1px #eee solid;
  transition: border 0.25s ease-in, color 0.25s ease-in;
}

#task-button:hover {
  border: 1px #6444db solid;
  color: #6444db;
}